configuration {
    combi-modes: "drun,ssh";
    combi-hide-mode-prefix: true;
    display-calc: "󰃬 Calc";
    display-combi: "󱓞 Launch";
    display-drun: " Apps";
    display-ssh: "󱘖 SSH";
    drun-display-format: "{icon} {name}";
    matching: "fuzzy";
    modi: "combi";
    show-icons: true;
    xoffset: 0;
    yoffset: 0;
    // Single click runs an entry (default is select on click, run on double click)
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
    kb-clear-line: "Ctrl+u";
    kb-remove-word-back: "Ctrl+w";
    kb-remove-to-sol: "";
}
@theme "theme"
