#waybar {
  font-family: JetBrainsMono Nerd Font;
  font-size: 10px;
  background: transparent;
  color: #cad3f5;
}

#waybar>box {
  background: #1e2030;
}

#workspaces,
#privacy,
#pulseaudio,
#tray,
#clock {
  background-color: #24273a;
}

#custom-system {
  font-size: 20px;
  color: #8caaee;
  padding: 0 0.5rem 0 0;
}

#window {
  border-radius: 0 10px 10px 0;
}

#workspaces {
  border-radius: 0.5rem;
}

#workspaces label {
  font-size: 14px;
}

#workspaces button {
  border-radius: 1rem;
  padding: 0 0.5rem 0 0.5rem;
}

#workspaces button.active {
  color: #f4dbd6;
  border-radius: 10px;
}

#workspaces button:hover {
  border-radius: 10px;
}

#privacy {
  color: #ed8796;
  border-radius: 10px 0 0 10px;
}

#pulseaudio.sink {
  color: #a6da95;
}

#pulseaudio.source {
  color: #f5bde6;
}

#clock {
  padding: 0px 0.5rem 0px 0.5rem;
}
