@import "macchiato.css";

#waybar {
  font-family: Monofur Nerd Font;
  font-size: 18px;
  background: transparent;
  color: @text;
}

#waybar>box {
  background-color: @crust;
}

#custom-system,
#workspaces,
#pulseaudio,
#privacy,
#tray,
#clock {
  background-color: @base;
}

#custom-system {
  color: #8caaee;
  font-size: 2rem;
  padding: 0 1.5rem 0 0.5rem;
}

#tray {
  padding: 0 0.7rem 0 0.5rem;
  border-radius: 0 10px 10px 0;
}

#workspaces {
  border-radius: 0.5rem;
}

#workspaces button {
  border-radius: 0.5rem;
  padding: 0 1rem 0 0.5rem;
}

#workspaces button.active {
  color: @rosewater;
}

#workspaces button.urgent {
  color: @red;
}

#network.up {
  padding: 0 1rem 0 0;
  color: @rosewater;
}

#network.down {
  min-width: 7rem;
  padding: 0 1rem 0 0;
  color: @mauve;
}

#pulseaudio.sink {
  border-radius: 10px 0 0 10px;
  padding: 0 0.5rem 0 0.5rem;
  color: @green;
}

#pulseaudio.source {
  color: @pink;
}

#privacy {
  color: @red;
}

#clock {
  padding: 0 0.5rem 0 0;
}
