#waybar {
  font-family: JetBrainsMono Nerd Font;
  font-size: 12px;
  background: transparent;
  color: #cad3f5;
}

#waybar > box {
  background: #363a4f;
  margin: 10px 10px 0 10px;
  border-radius: 10px;
}

#custom-system,
#window,
#workspaces,
#pulseaudio,
#tray,
#clock {
  background-color: #494d64;
  padding: 0 0.5rem;
}

#custom-system {
  border-radius: 10px 0 0 10px;
  font-size: 20px;
  color: #8caaee;
}

#window {
  border-radius: 0 10px 10px 0;
}

#workspaces {
  border-radius: 10px;
}

#workspaces label {
  font-size: 16px;
}

#workspaces button {
  border-radius: 1rem;
  padding: 0 0.5rem 0 0.5rem;
}

#workspaces button.active {
  color: #f4dbd6;
  border-radius: 10px;
}

#workspaces button:hover {
  border-radius: 10px;
}

#pulseaudio.sink {
  color: #a6da95;
  border-radius: 10px 0 0 10px;
}

#pulseaudio.source {
  color: #f5bde6;
}

#clock {
  border-radius: 0 10px 10px 0;
}
